# virtual environment
.venv/
# Python cache
__pycache__/
*.py[cod]
# Jupyter Notebook checkpoints
.ipynb_checkpoints
# VSCode settings
.vscode/
# Data files - csvs
*.csv
# Data files - zips
*.zip

# DS_Store files
.DS_Store
# python versioning
.python-version
